@{
    ViewData["Title"] = "Home Page";
}

@model SemanticVersion.Models.Software
<div class="text-center">
    <h1 class="display-4">Semantic Version Finder</h1>
    <p>Find the version of your software</p>
    <br />
    @Html.TextBoxFor(s => s.Version, new { @Value = "Enter Software Version", @class = "cyan" })

    <style>
        .cyan {color: cyan}
    </style>
</div>
